<div class="modal fade">
    <div class="modal-dialog">
        <form role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <div data-ng-repeat="column in resource.columns" data-ng-init="isRelation = resource.options[column].targetEntity ? true : false; columnType=resource.options[column].type">
                        <div  class="form-group" data-ng-if="isRelation">
                            <label>{{column | uppercase}}</label>
                            <select class="form-control" data-ng-if="columnType=='Object'" name="{{column}}" data-ng-model="item[column]" data-ng-options="r.displayName || r.name for r in getColumnOptions(column) track by r.id"></select>
                            <select class="form-control" data-ng-if="columnType=='List'" multiple="multiple" name="{{column}}" data-ng-model="item[column]" data-ng-options="r.displayName || r.name for r in getColumnOptions(column) track by r.id"></select>
                            <!--<input type="text" class="form-control" name="{{column}}" data-ng-model="item[column]">-->
                        </div>
                        <div class="form-group" data-ng-if="!isRelation" data-ng-switch on="columnType" data-ng-click="log(item[column])">
                            <label>{{column | uppercase }}</label>
                            <input class="form-control" data-ng-class="{disabled: showForm}" type="number" data-ng-switch-when="integer" name="{{column}}" data-ng-model="item[column]"/>
                            <input class="form-control" data-ng-class="{disabled: showForm}" type="date" data-ng-switch-when="date" data-ng-init="item[column] = new Date(item[column])" name="{{column}}" data-ng-model="item[column]"/>
                            <input class="form-control" data-ng-class="{disabled: showForm}" type="datetime-local" data-ng-switch-when="datetime" name="{{column}}" data-ng-model="item[column]"/>
                            <checkbox class="form-control" data-ng-class="{disabled: showForm}" type="number" data-ng-switch-when="boolean" name="{{column}}" data-ng-model="item[column]"/>
                            <input class="form-control" data-ng-class="{disabled: showForm}" type="text" data-ng-switch-default name="{{column}}" data-ng-model="item[column]"/>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" data-ng-if="editForm">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                    <button type="button" class="btn btn-default">Cancel</button>
                </div>
                <div class="modal-footer" data-ng-if="showForm">
                    <button type="button" class="btn btn-default">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>