<div class="modal fade">
    <div class="modal-dialog">
        <form role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <div data-ng-repeat="column in resource.columns" class="form-group">
                        <label>{{column | uppercase}}</label>
                        <input type="text" class="form-control" name="{{column}}" ng-model="item[column]">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                    <button type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>