<div data-ng-controller="PharmacyInvoiceController">
    <div class="row">
        <h1 class="page-header">Pharmacy Invoices</h1>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <form role="search" class="navbar-form navbar-left">
                    <div class="input-group form-group">
                        <span class="input-group-addon" id="search-icon"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" data-ng-model="searchText" placeholder="Search" area-describedby="search-icon">
                    </div>
                </form>
                <button type="button" data-ng-click="createItem()" class="btn btn-default navbar-btn"><i
                        class="fa fa-plus"></i> Create Invoice
                </button>
            </div>
        </nav>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th data-ng-repeat="column in columns">{{ column.displayName || (column.name | uppercase)}}</th>
                <th>OPTIONS</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in items | filter:searchText">
                <td data-ng-repeat="column in columns" data-ng-init="isRelation = column.targetEntity ? true : false;">
                    <div data-ng-if="isRelation && column.type == 'Object'">
                        {{item[column.name].displayName || item[column.name].name}}
                    </div>
                    <div data-ng-if="isRelation && column.type == 'List'">
                        <span data-ng-repeat="e in item[column.name]">[{{e.displayName || e.name}}]</span>
                    </div>
                    <div data-ng-if="!isRelation" data-ng-switch on="column.type">
                        <span data-ng-switch-when="string">{{item[column.name] | limitTo: 150}}</span>
                        <span data-ng-switch-when="datetime">{{item[column.name] | date:medium}}</span>
                        <span data-ng-switch-default>{{item[column.name]}}</span>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-ng-click="viewItem(item.id)">View {{title}}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Action Menu</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li data-ng-click="viewItem(item.id)"><a>View {{title}}</a></li>
                            <li data-ng-click="editItem(item.id)"><a>Edit {{title}}</a></li>
                            <li data-ng-click="deleteItem(item.id)"><a>Delete {{title}}</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr></tr>
            </tfoot>
        </table>
    </div>
</div>