<!DOCTYPE html>
<html data-ng-app="PixiApp"->
<head data-ng-controller="HeadController">
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% stylesheets
    '@PixiCoreBundle/Resources/public/lib/bootstrap/dist/css/bootstrap.min.css'
    '@PixiCoreBundle/Resources/public/lib/fontawesome/css/font-awesome.min.css'
    '@PixiCoreBundle/Resources/public/lib/metisMenu/dist/metisMenu.min.css'
    '@PixiCoreBundle/Resources/public/lib/angular-loading-bar/build/loading-bar.min.css'
    '@PixiCoreBundle/Resources/public/css/main.css'
    '@PixiCoreBundle/Resources/public/css/sb-admin-2.css'
    '@PixiCoreBundle/Resources/public/css/timeline.css'
    filter='cssrewrite'%}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body data-ng-controller="BodyController">
{% block body %}{% endblock %}


{% javascripts
'@PixiCoreBundle/Resources/public/lib/jquery/dist/jquery.min.js'
'@PixiCoreBundle/Resources/public/lib/angular/angular.min.js'
'@PixiCoreBundle/Resources/public/lib/bootstrap/dist/js/bootstrap.min.js'
'@PixiCoreBundle/Resources/public/lib/angular-ui-router/release/angular-ui-router.min.js'
'@PixiCoreBundle/Resources/public/lib/json3/lib/json3.min.js'
'@PixiCoreBundle/Resources/public/lib/oclazyload/dist/ocLazyLoad.min.js'
'@PixiCoreBundle/Resources/public/lib/angular-loading-bar/build/loading-bar.min.js'
'@PixiCoreBundle/Resources/public/lib/angular-bootstrap/ui-bootstrap-tpls.min.js'
'@PixiCoreBundle/Resources/public/lib/metisMenu/dist/metisMenu.min.js'
'@PixiCoreBundle/Resources/public/lib/Chart.js/Chart.min.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block bundlejs %}{% endblock %}
</body>
</html>
