<!DOCTYPE html>
<html data-ng-app="pixiAdminApp" data-ng-controller="ApplicationController">
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}
            {% raw %}
                {{ applicationTitle }}
            {% endraw %}
        {% endblock %}
    </title>

    {% stylesheets
    'bundles/pixicore/lib/bootstrap/dist/css/bootstrap.min.css' filter='cssrewrite'
    'bundles/pixicore/lib/fontawesome/css/font-awesome.min.css' filter='cssrewrite'
    'bundles/pixicore/lib/metisMenu/dist/metisMenu.min.css' filter='cssrewrite'
    'bundles/pixicore/lib/angular-loading-bar/build/loading-bar.min.css' filter='cssrewrite'
    'bundles/pixicore/css/main.css'
    'bundles/pixicore/css/sb-admin-2.css'
    'bundles/pixicore/css/timeline.css'
    'bundles/pixicore/css/custom.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
    {% block bundlecss %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

    <div>
        <div ui-view>
            {% block body %}
            {% endblock %}
        </div>
    </div>



{% javascripts
'bundles/pixicore/lib/jquery/dist/jquery.min.js'
'bundles/pixicore/lib/angular/angular.min.js'
'bundles/pixicore/lib/bootstrap/dist/js/bootstrap.min.js'
'bundles/pixicore/lib/angular-ui-router/release/angular-ui-router.min.js'
'bundles/pixicore/lib/json3/lib/json3.min.js'
'bundles/pixicore/lib/oclazyload/dist/ocLazyLoad.min.js'
'bundles/pixicore/lib/angular-loading-bar/build/loading-bar.min.js'
'bundles/pixicore/lib/angular-bootstrap/ui-bootstrap-tpls.min.js'
'bundles/pixicore/lib/metisMenu/dist/metisMenu.min.js'
'bundles/pixicore/lib/Chart.js/Chart.min.js'
'bundles/pixicore/scripts/template-module.js'
'bundles/pixicore/js/admin/app.js'
'bundles/pixicore/template/admin/resource/resource.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block bundlejs %}{% endblock %}
</body>
</html>
